.home-wrapper {
    display: flex;
    justify-content: center;
}

.home {
    display: grid;
    grid-auto-flow: column;
    width: 60rem;
}

.books-list {
    height: 90vh;
    position: fixed;
    margin-top: 5.25rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    grid-area: 1 / 1 / 2 / 2;
    max-width: 13rem;
    z-index: 1;
}

.book-scroll {
    height: 90vh;
    direction: rtl;
    overflow-y: scroll;
}

.main {
    margin: 8rem 2rem 1rem 7rem;
    font-size: 1.25rem;
    grid-area: 1 / 1 / 4 / 2;
    transition: color 0.5s;
    min-height: 80vh;
}

.mobile-main-margin {
    margin-left: 1.5rem;
}

ul {
    direction: ltr;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ul:hover {
    text-shadow: 0.75px 1px rgb(158, 158, 158);
}

.light-book {
    color: rgb(141, 141, 141);
}

.book-name {
    cursor: pointer;
}

.book-name .book-full-name {
    display: none;
}

.book-name:not(.no-hover):hover .book-full-name {
    display: block;
}

.book-name:not(.no-hover):hover .book-abbr {
    display: none;
}

.books-list:not(.no-hover):hover ~ .main {
    color: rgb(240, 240, 240);
    transition: color 0.5s;
}

.bible-top-bar {
    max-width: 100vw;
    margin-bottom: 2.5rem;
}

.top-bar-item {
    display: inline-flex;
    flex-direction: row;
    margin-right: 2rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.select-input {
	display: block;
	font-size: 16px;
	color: #444;
	border: 1px solid #aaa;
}