.footer {
    width: 100%;
    height: 5rem;
    box-shadow: 3px 4px 1px #eeeeee;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footer-item {
    margin-left: 2rem;
}